body,
html {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  width: 100%;
  background: rgb(235, 238, 243);

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  font-family: 'Anonymous Pro';
  font-size: 8.6em;
  line-height: 0.9em;
  transition: font-size 0.5s;
}

h2 {
  text-align: left;
  font-size: 2.5em;
  position: absolute;
  margin: 0%;
}

.intro {
  top: 29%;
  left: 9%;
}

h3 {
  color: rgb(64, 62, 62);
  position: relative;
  padding-top: 0.5em;
  font-size: 2.6em;
}

.anim-typewriter{
  animation: typewriter 0.8s steps(4) 2s 1 normal both,
  blinkTextCursor 600ms steps(6) 2 normal;
  animation-delay: 0.7s;
  transition: width 0.8s;
}
@keyframes typewriter{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 18.5em;
    overflow: hidden;
  }
  100%{
    width: 18.5em;
    overflow: visible;
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent}
  to{border-right-color: rgb(64, 62, 62);}
}

.anim-typewriter2{
  animation: typewriter2 1s steps(5) 2s 1 normal both,
  blinkTextCursor2 600ms steps(6) infinite normal;
  animation-delay: 2.0s;
  transition: width 0.8s;
}

@keyframes typewriter2{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 23em;
    overflow: hidden;
  }
  100%{
    width: 23em;
    overflow: visible;
  }
}
@keyframes blinkTextCursor2{
  from{border-right-color: transparent}
  to{border-right-color: rgb(64, 62, 62)}
}

.header-img {
  background: url(website_bg.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  transition: background-image 0.5s;
}

/*mobile formatting*/
@media (max-width:629px) {
  .header-img {
    background-image: url(nojake.png);
    background-position: cover;
    
  }

  @keyframes typewriter{
    0% {
      width: 0;
      overflow: hidden;
    }
    99%{
      width: 15.5em;
      overflow: hidden;
    }
    100%{
      width: 15.5em;
      overflow: visible;
    }
  }

  @keyframes typewriter2{
    0%{
      width: 0;
      overflow: hidden;
    }
    99%{
      width: 20em;
      overflow: hidden;
    }
    100%{
      width: 20em;
      overflow: visible;
    }
  }

  h1 {
    font-size: 7.3em;
  }
}

@keyframes typewriter2mobile{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 20em;
    overflow: hidden;
  }
  100%{
    width: 20em;
    overflow: visible;
  }
}

@keyframes typewritermobile{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 15.5em;
    overflow: hidden;
  }
  100%{
    width: 15.5em;
    overflow: visible;
  }
}

.header-text {
  text-align: left;
  position: absolute;
  top: 42%;
  left: 9%;
  color:rgb(64, 62, 62);
  border-right: 2px solid transparent;
  transform: translateY(-50%);
  overflow: hidden;
}

.second {
  top: 56%;
}



img {
  margin: 1em;
  width: 100%;
  height: auto;
}

/* Main button on main page */
.reg-btn {
  width: 9em;
  height: 3em;
  font-weight: 2em;
  font-size: 1.2em;
  border-radius: 2rem;
  text-transform: uppercase;
  background-color: transparent;
  border-color: rgba(131,168,139, 255);
  padding: 1% 1%;
  margin: 0% 1%;
  border-style: solid;

  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  line-height: 0em;
}

.send-down {
  position: absolute;
  opacity: 0;
  top: 66%;
  left: 8%;
  animation: fadeInAnimation ease 2s;
 
  animation-delay: 3.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.reg-btn:hover {
  color: rgb(235, 238, 243);
  background: rgb(202,210,197);
  border-color: rgb(202,210,197);
  cursor: pointer;
}

.reg-btn:active {
  background: rgb(159, 167, 156);
}

.left {
  float: left;
}

.right {
  float: right;
}


p {
  margin: 4% 20%;
}

.about {
  position:relative;
  text-align: center;
}

#mint {
  background-color:rgb(240, 255, 241);
}

.explr {
  margin: 0em, 2em;
  border-color: transparent;
  padding: 0em;
}

#section2 {
  background-color: rgb(255, 255, 255);
  height: 20em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

#section3 {
  background-color:rgb(255, 255, 255);
}

.homebtns {
  margin: 6% 1%;
}

.homepic {
  width: 40%;
  height: 40%;
  position: relative;
}

.blender {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
  height: auto;
  padding: 10%;
  column-gap: 4%;

  width: 100%;

}

.flexcol {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
  height: auto;

  padding: 5%;
}

.portfol {
  border-radius: 1.4em;
  width: 23em;
  min-width: 22em;

  width: 100%;
  max-width: 22em;
  transition: 0.2s ease;
}

.portfol:hover {
  transform: scale(1.06);
}

#blend1 {
  flex-shrink: 0;
  min-width: 22em;
  background: url(python.png);
  background-size: cover;
}

#blend2 {
  background: url(chessgame.png);
  background-size: cover;
}

#blend3 {
  background: url(CSSHTML.png);
  background-size: cover;
}

#blend4 {
  background: url(blend4.png);
  background-size: cover;
}

#pic5 {
  background: url(mcgill.jpeg);
  background-size: cover;
}

#pic6 {
  background: url(resume.png);
  background-size: cover;
}

.button2 {
  width: 8em;
  height: 3em;
  font-weight: 1em;
  font-size: 0.4em;
  border-radius: 2rem;
  text-transform: uppercase;
  background-color: transparent;
  border-color: rgba(131,168,139, 255);
  padding: 1% 1%;
  margin: 1em 0%;
  border-style: solid;
  align-self: center;
  color: inherit;

  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 0em;
  cursor: pointer;
}

.button2:hover {
  color: rgb(235, 238, 243);
  background: rgb(202,210,197);
  border-color: rgb(202,210,197);
  cursor: pointer;
}

.socials {
  padding: 0.5em;
  margin: 2%;
  font-size: 2em;
  width: fit-content;
  height: fit-content;
}

.flexsocials {
  top: 2.5%;
  left: 3.4%;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2%;
  align-items: left;
  align-content: left;
  height: auto;

  padding: 5%;
}