body,
html {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  background: rgb(235, 238, 243);

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  font-family: 'Anonymous Pro';
  font-size: 8.6em;
  line-height: 0.9em;
  transition: font-size 0.5s;
}

h2 {
  text-align: left;
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 9%;
}

h3 {
  color: rgb(64, 62, 62);
}

.anim-typewriter{
  animation: typewriter 0.8s steps(4) 2s 1 normal both,
  blinkTextCursor 600ms steps(6) 2 normal;
  animation-delay: 0.7s;
  transition: width 0.8s;
}
@keyframes typewriter{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 18.5em;
    overflow: hidden;
  }
  100%{
    width: 18.5em;
    overflow: visible;
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent}
  to{border-right-color: rgb(64, 62, 62);}
}

.anim-typewriter2{
  animation: typewriter2 1s steps(5) 2s 1 normal both,
  blinkTextCursor2 600ms steps(6) infinite normal;
  animation-delay: 2.0s;
  transition: width 0.8s;
}

@keyframes typewriter2{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 23em;
    overflow: hidden;
  }
  100%{
    width: 23em;
    overflow: visible;
  }
}
@keyframes blinkTextCursor2{
  from{border-right-color: transparent}
  to{border-right-color: rgb(64, 62, 62)}
}

.header-img {
  background: url(website_bg.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  transition: background-image 0.5s;
}

/*mobile formatting*/
@media (max-width:629px) {
  .header-img {
    background-image: url(nojake.png);
    background-position: cover;
  }

  @keyframes typewriter{
    0%{
      width: 0;
      overflow: hidden;
    }
    99%{
      width: 15.5em;
      overflow: hidden;
    }
    100%{
      width: 15.5em;
      overflow: visible;
    }
  }

  @keyframes typewriter2{
    0%{
      width: 0;
      overflow: hidden;
    }
    99%{
      width: 20em;
      overflow: hidden;
    }
    100%{
      width: 20em;
      overflow: visible;
    }
  }

  h1 {
    font-size: 7.3em;
  }
}

@keyframes typewriter2mobile{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 20em;
    overflow: hidden;
  }
  100%{
    width: 20em;
    overflow: visible;
  }
}

@keyframes typewritermobile{
  0%{
    width: 0;
    overflow: hidden;
  }
  99%{
    width: 15.5em;
    overflow: hidden;
  }
  100%{
    width: 15.5em;
    overflow: visible;
  }
}

.header-text {
  text-align: left;
  position: absolute;
  top: 22em;
  left: 9%;
  color:rgb(64, 62, 62);
  border-right: 2px solid transparent;
  transform: translateY(-50%);
  overflow: hidden;
  
}

.second {
  top: 30em;
}

img {
  display: flex;
  justify-content: center;
}

.rectangle1 {
  height: 4VW;
  width: 35VW;
  background: rgb(64, 62, 62);
  position: relative;
  margin: 2% 3%;
  text-align: center;
}

.navbar {
  background: transparent;
}

.nav-link {
  font-family: Questrial;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: rgb(44, 44, 43);
  color: white;
}

.fa:hover {
  background-color: rgb(89, 86, 86);
  border-color: rgb(89, 86, 86);
}

.fa:active {
  background-color: rgb(44, 44, 43) !important;
}

/* Main button on main page */
.reg-btn {
  width: 9em;
  height: 3em;
  font-weight: 2em;
  font-size: 1.2em;
  border-radius: 300px;
  text-transform: uppercase;
  padding: 1% 2%;
  margin: 0% 1%;
}

.send-down {
  position: absolute;
  background-color: transparent;
  opacity: 0;
  border-color: rgba(131,168,139,255);
  top: 36rem;
  left: 8%;
  color:rgb(64, 62, 62);
  transition: 0.5;
  animation: fadeInAnimation ease 2s;
 
  animation-delay: 3.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.send-down span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.05s;
}

.send-down span:after {
  font-size: 100%;
  
}

.send-down:hover {
  background: rgba(202,210,197,255);
  border-color: transparent;
}

.left {
  float: left;
}

.right {
  float: right;
}

#section2 {
  background-color: rgb(255, 255, 255);
}

#section3 {
  background-color:rgb(255, 255, 255);
  margin-top: 20%;
}

.homebtns {
  margin: 6% 1%;
}

.homepic {
  width: 40%;
  height: 40%;
  position: relative;
}