body,
html {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  width: 100%;
  background: rgb(235, 238, 243);

  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

#header {
    position: sticky;
    background: #84a98c;
    height: 20%;
}

h1 {
    font-family: 'Questrial';
    color: rgb(64, 62, 62);
    position: relative;
    padding-top: 0.5em;
    font-size: 8.6em;
    margin: none;
}

#projects {
    top: 10%;
    left: 2%;
}